/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0rem;
}

/*-----Yuki 2017-05-17 APPS_280-S1 CHANGE_TO_USE_SYS_VAR_FOR_DPI*/
/*@media only screen and (min-width: 1200px){
  html {
    font-size: 20px;
  } 
  body {
    font-size: 24px;
  }
  .btn-default {
    font-size: 1rem;
  }
}*/
/*-----END CHANGE_TO_USE_SYS_VAR_FOR_DPI*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 11%;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 1% 1%;
}

.panel-table1 {
  /*-----Yuki 2017-05-25 APPS_280-S2 RESIZE TABLE WHEN RESIZE DIALOG*/
  position: absolute;
  top: 30rem;
  bottom: 11%;
  width: 98%;
  /*END RESIZE TABLE WHEN RESIZE DIALOG*/
  overflow-y: auto;
}
.panel-table2 {
  /*-----Yuki 2017-05-25 APPS_280-S2 RESIZE TABLE WHEN RESIZE DIALOG*/
  position: absolute;
  top: 21rem;
  bottom: 11%;
  width: 98%;
  /*END RESIZE TABLE WHEN RESIZE DIALOG*/
  overflow-y: auto;
}

/*Yuki 10/10/2017 APPS-68-S3-NEW_MATCHED_BOOK_TAB*/
.panel-section{
  position: absolute;
  top: 25rem;
  bottom: 11%;
  width: 98%;
  overflow-y: auto;
}
/*END APPS_280-S7 POPUP_CONFIRM_DIALOG_WHEN_DELETE_BOOKS*/
 
.table-responsive{
  padding: 0% 0% 2% 0%;
}

.table td, 
.table th {
  text-align: center;
}

.table thead{
  cursor:pointer;
}

a:hover{
 cursor:pointer;
}
/*-----Yuki 2017-05-19 APPS_280-S3 LABEL CHANGES AND TOOLTIPS*/
.tooltip.right .tooltip-inner {
    background-color: white;
    color: #333;
    border: solid 1px #333;
}
.tooltip.bottom .tooltip-inner {
    background-color: #D0E2F2;
    color: #333;
    border: solid 1px #D0E2F2;
    text-align: left;
    margin-left: 1rem;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -1rem;
    border-bottom-color: #D0E2F2; 
    border-width: 0 1rem 1rem;
}
/*END LABEL CHANGES AND TOOLTIPS*/
